.playlist-page-img {
  width: 130px;
  height: 100px;
  border-radius: 20px;
  padding: 10px;
  object-fit: cover;
}

.playlist-page-name {
  color: aliceblue;
}

.playlist-page-id {
  color: aliceblue;
}

.playlist-page-bio {
  color: aliceblue;
}

.main-playlist-card {
  display: flex;
  background-color: rgb(18, 18, 18);
  width: 65%;
  border-radius: 10px;
  margin-right: 25px;
}

.playlist-body-card {
  display: flex;
  justify-content: end;
  position: relative;
  top: -375.5px;
  height: 450px;
}

.solo-playlist-info-card {
    display: flex;
    justify-content: center;
}

.playlist-card {
    height: 150px;
    width: 150px;
    background-color: rgb(31, 31, 31);
    margin: 5px;
    border-radius: 10px;
    box-shadow: 1px 0 1px rgb(0, 0, 0), -1px 0 1px rgb(0, 0, 0);
}

.playlist-card:hover {
    cursor: pointer;
    box-shadow: 3px 0 3px rgb(176, 83, 239), -3px 0 3px rgb(176, 83, 239);
}
