.entire-playlists-container {
  position: relative;
  left: 330px;
  bottom: 700px;
  height: 780px;
  width: 100%;
  z-index: 0;
}

.main-playlist-card {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: auto;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  background-color: transparent;
  border-radius: 10px;
  margin-top: 10px;
  max-width: 73%;
  width: 73%;
  max-height: 610px;
  overflow-y: auto;
  padding-right: 15px;
}

.playlists-navlink {
  background-color: #1f1f1f;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  height: 240px;
  border-radius: 15px;
  text-decoration: none;
  width: 160px;
}

.playlists-navlink:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgb(75, 75, 75);
  color: rgb(176, 83, 239);
  transition: background-color 0.3s color 0.3s;
}

.playlist-card-name:hover {
  color: rgb(176, 83, 239);
}

.playlist-card-name,
.playlist-card-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
  max-width: 150px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlist-card-name-bio {
  text-decoration: none;
  margin-top: 5px;
}

.playlist-card-name {
  color: white;
  text-decoration: none;
}

.playlist-card-bio {
  color: rgb(167, 167, 167);
  /* max-width: 150px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.playlist-card-img {
  width: 130px;
  height: 130px;
  border-radius: 15px;
  padding: 10px;
  object-fit: cover;
  margin-top: 10px;
}

/* .playlist-page-bio {
  color: aliceblue;
}

.playlist-body-card {
  display: flex;
  position: relative;
  top: -640px;
  right: -310px;
  height: 640px;
} */

/* .solo-playlist-info-card {
  display: grid;
  justify-content: center;
} */

/* .playlist-card {
  height: 220px;
  width: 150px;
  background-color: rgb(31, 31, 31);
  margin: 5px;
  border-radius: 10px;
  box-shadow: 1px 0 1px rgb(0, 0, 0), -1px 0 1px rgb(0, 0, 0);
  transition: transform 0.2s ease;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
} */
/* 
.playlist-card:hover {
  cursor: pointer;
  transform: scale(1.05);
} */
