.landing-page-container {
  position: relative;
  left: 330px;
  bottom: 730px;
  height: 800px;
  width: 100%;
  z-index: 0;
}

.landing-page-main {
  width: 100%;
}

.landing-header {
  width: 400px;
}

/* .random-album {
    display: flex;
    flex-direction: column;
    align-items: center
} */

.random-album-img {
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 20px;
  position: relative;
}

.entire-random-album {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center;
  margin-right: 300px;
}

.random-album-div {
  display: flex;
  justify-content: center;
}

.random-album-info {
  /* position: fixed; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  width: 100%;
  max-width: 340px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* margin-left: 600px; */
  /* border: 1px solid white; */
  height: 300px;
  margin-right: 30px;
}

.random-album-title:hover {
  color: rgb(176, 83, 239);
  transition: color 0.3s;
}

/* .random-album-img:hover {
  width: 305px;
  height: 305px;
  transition: width 0.3s height 0.3s;
} */

.random-album-title,
.random-album-release-year {
  text-decoration: none;
  /* color: white; */
}

.random-album-title {
  font-size: 40px;
  color: white;
}

.random-album-navlink {
  text-decoration: none;
}

.random-album-release-year {
  font-size: 30px;
  /* text-decoration: none; */
  font-style: italic;
  color: rgb(167, 167, 167);
}

/* .recent-playlists {
  max-width: 1200px;
  width: 100%;
} */

.recent-playlist-image {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  padding: 10px 10px 0 10px;
  object-fit: cover;
}

.all-recent-playlists {
  display: flex;
  justify-content: space-between;
  max-width: 73%;
  width: 100%;
  /* width: 800px; */
  overflow-x: auto;
}

.recent-playlist-header {
  display: flex;
  height: 70px;
  /* width: 1200px; */
  width: 73%;
  /* width: auto; */
  justify-content: space-between;
  /* border: 1px solid white; */
}

.recent-playlist-show-all {
  text-decoration: none;
  color: rgba(167, 167, 167, 0.575);
  /* width: 100%; */
  font-size: 15px;
  margin-top: 28px;
  /* margin-right: 35px; */
  /* margin-left: 980px; */
}

.recent-playlist-show-all:hover {
  color: white;
}

.recent-playlist-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.recent-playlist-navlink {
  text-decoration: none;
}

.recent-playlist-name {
  color: white;
  margin-top: 14px;
}

.recent-playlist-card {
  /* border: 1px solid white; */
  width: 140px;
  height: 170px;
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  border-radius: 15px;
}

.recent-playlist-card:hover .recent-playlist-name {
  color: rgb(176, 83, 239);
}

.recent-playlist-card:hover {
  background-color: #373737;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}
