/* .main-create-song-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -400px;
}

.create-song-container {
  background-color: rgb(31, 31, 31);
  width: 600px;
  height: 365px;
  border-radius: 10px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -90px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.upload-song-title {
  color: white;
  align-items: center;
}

.create-song-button button {
  background-color: rgb(176, 83, 239);
  border-radius: 10px;
  padding: 7px;
}

.create-song-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.song-form-fields label {
  text-align: center;
  padding: 5px;
}

.song-form-fields {
  text-align: center;
  padding: 5px;
  color: white;
}

.song-form-fields .song-name-box input,
.song-form-fields .length-box input,
.song-form-fields .song-file-box input {
  background-color: rgb(31, 31, 31);
  text-align: center;
  padding: 5px;
  color: white;
} */

.upload-song-file-fields {
  display: flex;
  flex-direction: column;
  /* margin-left: 40px;
  margin-bottom: 30px; */
  width: 210px;
  /* height: fit-content; */
}

.upload-song-file-fields input {
  margin-left: 0px;
}

.upload-song-form-fields {
  margin-bottom: 20px;
}

.upload-song-form-fields input {
  color: rgb(31, 31, 31);
  background-color: white;
  /* text-align: center; */
  border: none;
  padding: 5px;
  width: 200px;
  height: 25px;
  border-radius: 10px;
  margin-bottom: 0px;
}

.uploading-songs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-song-button button {
  background-color: rgb(176, 83, 239);
  color: white;
  border-radius: 10px;
  padding: 7px;
  border: none;
  width: 200px;
  margin-right: 5px;
  height: 35px;
  margin-top: 20px;
}

.upload-song-button button:hover {
  background-color: rgb(167, 167, 167);
  color: rgb(176, 83, 239);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
