.album-page-img {
  width: 130px;
  height: 100px;
  border-radius: 20px;
  padding: 10px 10px 0 10px;
  object-fit: cover;
}

.album-page-name {
  color: aliceblue;
  font-size: 16px;
  text-align: center;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-year {
  color: aliceblue;
  display: flex;
  justify-content: center;
}

.main-album-card {
  display: grid;
  grid: repeat(2, 300px) / auto-flow 250px;
  background-color: transparent;
  border-radius: 10px;
  margin-top: 10px;
}

.album-body-card {
  display: flex;
  position: relative;
  top: -640px;
  right: -310px;
  height: 640px;
}

.solo-album-info-card {
  display: grid;
  justify-content: center;
}

.album-card {
  height: 220px;
  width: 150px;
  background-color: rgb(31, 31, 31);
  margin: 5px;
  border-radius: 10px;
  box-shadow: 1px 0 1px rgb(0, 0, 0), -1px 0 1px rgb(0, 0, 0);
  transition: transform 0.2s ease;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
}

.album-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
