.main-edit-album-form-container {
    background-color: rgb(31, 31, 31);
    height: 300px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    text-align: center;
}

.update-your-album-title {
    color: white;
    font-family: "Kanit", sans-serif;
}

.edit-album-form-fields,
.edit-release-year-form-fields {
    color: white;
    padding: 10px;
    font-family: "Kanit", sans-serif;
}

.edit-album-name-box input,
.edit-release-year-box input {

    color: rgb(167, 167, 167);
    align-items: center;
    text-align: center;
    width: 250px;
    height: 25px;
    border-radius: 5px;
    font-family: "Kanit", sans-serif;
}

.update-album-button button {
    background-color: rgb(176, 83, 239);
    border-radius: 10px;
    padding: 7px;
    border: none;
    width: 250px;
    cursor: pointer;
  }

  .update-album-button button:hover {
    background-color: rgb(167, 167, 167);
  }

.errors {
    color: white;
    text-align: center;
  }
