.delete-song-modal {
    background-color: rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 350px;
    border-radius: 30px;
}

.yes-delete-song,
.no-delete-song {
    background-color: rgb(176, 83, 239);
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
}
