.main-upload-album-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -400px;
}


.upload-album-container {
    background-color: rgb(31, 31, 31);
    width: 600px;
    height: 385px;
    border-radius: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* padding-bottom: 10px;
    padding-top: 5px; */
}

.upload-title {
    color: white;
    font-family: "Kanit", sans-serif;
}

.form-container {
    margin-top: -10px;
}

.upload-button-container {
    background-color: rgb(176, 83, 239);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 250px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.button-container button:hover {
    background-color: rgb(167, 167, 167);
}

.form-fields {
    color: white;
    text-align: center;
}


.album-name-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.album-name-box input {
    background-color: white;
    color: rgb(167, 167, 167);
    text-align: center;
    width: 250px;
    border-radius: 5px;
    font-family: "Kanit", sans-serif;
}

.release-year-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.release-year-box input {
    background-color: white;
    color: rgb(167, 167, 167);
    text-align: center;
    width: 250px;
    border-radius: 5px;
    font-family: "Kanit", sans-serif;
}

.form-upload-album {
    color: white;
}
